<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Hero2_up_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,-1}</string>
                <key>spriteSize</key>
                <string>{34,54}</string>
                <key>spriteSourceSize</key>
                <string>{45,60}</string>
                <key>textureRect</key>
                <string>{{1,60},{34,54}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>40 58 6 58 6 4 40 4</string>
                <key>verticesUV</key>
                <string>35 114 1 114 1 60 35 60</string>
            </dict>
            <key>Hero2_up_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0.5}</string>
                <key>spriteSize</key>
                <string>{43,57}</string>
                <key>spriteSourceSize</key>
                <string>{45,60}</string>
                <key>textureRect</key>
                <string>{{1,1},{43,57}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>0 4 5 0 3 4 1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>45 29 31 58 14 58 2 29 11 6 32 1</string>
                <key>verticesUV</key>
                <string>44 29 30 58 13 58 1 29 10 6 31 1</string>
            </dict>
            <key>Hero2_up_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,-1}</string>
                <key>spriteSize</key>
                <string>{34,54}</string>
                <key>spriteSourceSize</key>
                <string>{45,60}</string>
                <key>textureRect</key>
                <string>{{1,60},{34,54}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>40 58 6 58 6 4 40 4</string>
                <key>verticesUV</key>
                <string>35 114 1 114 1 60 35 60</string>
            </dict>
            <key>Hero2_up_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0.5,-1.5}</string>
                <key>spriteSize</key>
                <string>{32,53}</string>
                <key>spriteSourceSize</key>
                <string>{45,60}</string>
                <key>textureRect</key>
                <string>{{1,116},{32,53}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 2 3 0 1 3</string>
                <key>vertices</key>
                <string>39 58 7 58 7 5 39 5</string>
                <key>verticesUV</key>
                <string>33 169 1 169 1 116 33 116</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hero2up.png</string>
            <key>size</key>
            <string>{45,170}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e427d43024575a79080c01f3ec3a32b8:554b88bc6d36858887957ef73b0f6620:3c338d61fbbfe8411ae409a0d013ab20$</string>
            <key>textureFileName</key>
            <string>hero2up.png</string>
        </dict>
    </dict>
</plist>
