<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Hero2_stand4_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,60}</string>
                <key>spriteSourceSize</key>
                <string>{45,60}</string>
                <key>textureRect</key>
                <string>{{0,0},{45,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hero2stand4.png</string>
            <key>size</key>
            <string>{45,60}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fb05557fe22a96870c9fc3e84c2112ea:ae0d400b8ebb525b407b46be9c345813:3192bb73995a5f7b54dbcab69815fe53$</string>
            <key>textureFileName</key>
            <string>hero2stand4.png</string>
        </dict>
    </dict>
</plist>
