<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Hero1_stand1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,53}</string>
                <key>spriteSourceSize</key>
                <string>{54,55}</string>
                <key>textureRect</key>
                <string>{{1,1},{50,53}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 3 4 1 2 3 0 1 4</string>
                <key>vertices</key>
                <string>52 25 22 52 2 54 2 1 23 1</string>
                <key>verticesUV</key>
                <string>51 25 21 52 1 54 1 1 22 1</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hero1stand1.png</string>
            <key>size</key>
            <string>{52,55}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cb32459e74ddfb563c597df25f6e92f7:d5e3ac3033bc1d1dd9c9b9b8b9562957:44600d95439ae112eaf493ba730a107e$</string>
            <key>textureFileName</key>
            <string>hero1stand1.png</string>
        </dict>
    </dict>
</plist>
