<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Hero4_stand2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,40}</string>
                <key>spriteSourceSize</key>
                <string>{27,40}</string>
                <key>textureRect</key>
                <string>{{0,0},{27,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hero4stand2.png</string>
            <key>size</key>
            <string>{27,40}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a62b344d2b7f96228e3a13f6b91b11d7:b3b191f9c29bde8d6f85aacb242d3f50:9b4a8697b7b6cbfdce738d54dc3bee62$</string>
            <key>textureFileName</key>
            <string>hero4stand2.png</string>
        </dict>
    </dict>
</plist>
