<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Hero1_stand4_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2.5,1.5}</string>
                <key>spriteSize</key>
                <string>{49,51}</string>
                <key>spriteSourceSize</key>
                <string>{54,56}</string>
                <key>textureRect</key>
                <string>{{1,1},{49,51}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>2 3 4 1 2 4 0 1 4</string>
                <key>vertices</key>
                <string>49 52 29 52 2 27 0 1 49 1</string>
                <key>verticesUV</key>
                <string>50 52 30 52 3 27 1 1 50 1</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hero1stand4.png</string>
            <key>size</key>
            <string>{51,53}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:beb30532e78e606eab9c5a8a573aa56b:cb3d58b32474384644cae01b228c2e82:f6a988a1cc9a9e03c9bc2407e40ef16a$</string>
            <key>textureFileName</key>
            <string>hero1stand4.png</string>
        </dict>
    </dict>
</plist>
