<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Hero2_down_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,55}</string>
                <key>spriteSourceSize</key>
                <string>{50,55}</string>
                <key>textureRect</key>
                <string>{{0,0},{50,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hero2_down_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,55}</string>
                <key>spriteSourceSize</key>
                <string>{50,55}</string>
                <key>textureRect</key>
                <string>{{50,0},{50,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hero2_down_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,55}</string>
                <key>spriteSourceSize</key>
                <string>{50,55}</string>
                <key>textureRect</key>
                <string>{{100,0},{50,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hero2_down_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,55}</string>
                <key>spriteSourceSize</key>
                <string>{50,55}</string>
                <key>textureRect</key>
                <string>{{150,0},{50,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hero2down.png</string>
            <key>size</key>
            <string>{200,55}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a79ff25015e4791532adc41ab718843a:97bb81a22661d46c52908f0afec8cc8d:c3f835d9a6e4a754306d5bac8fa300a3$</string>
            <key>textureFileName</key>
            <string>hero2down.png</string>
        </dict>
    </dict>
</plist>
