<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Hero2_up_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,60}</string>
                <key>spriteSourceSize</key>
                <string>{45,60}</string>
                <key>textureRect</key>
                <string>{{0,0},{45,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hero2_up_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,60}</string>
                <key>spriteSourceSize</key>
                <string>{45,60}</string>
                <key>textureRect</key>
                <string>{{45,0},{45,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hero2_up_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,60}</string>
                <key>spriteSourceSize</key>
                <string>{45,60}</string>
                <key>textureRect</key>
                <string>{{90,0},{45,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hero2_up_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,60}</string>
                <key>spriteSourceSize</key>
                <string>{45,60}</string>
                <key>textureRect</key>
                <string>{{135,0},{45,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hero2up.png</string>
            <key>size</key>
            <string>{180,60}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6661d148bf05834884e6a13deb2ede9b:554b88bc6d36858887957ef73b0f6620:3c338d61fbbfe8411ae409a0d013ab20$</string>
            <key>textureFileName</key>
            <string>hero2up.png</string>
        </dict>
    </dict>
</plist>
