<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Hero4_stand3_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,40}</string>
                <key>spriteSourceSize</key>
                <string>{27,40}</string>
                <key>textureRect</key>
                <string>{{0,0},{27,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hero4stand3.png</string>
            <key>size</key>
            <string>{27,40}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dcd09bebc9e3fd2e52e35dc35ec4103e:69f0cd7ef4271ec435a17ad869767d19:590cf12d0e6b5cff1c134d8ba58014ca$</string>
            <key>textureFileName</key>
            <string>hero4stand3.png</string>
        </dict>
    </dict>
</plist>
