<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Hero1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,55}</string>
                <key>spriteSourceSize</key>
                <string>{54,55}</string>
                <key>textureRect</key>
                <string>{{1,59},{54,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hero1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,55}</string>
                <key>spriteSourceSize</key>
                <string>{54,55}</string>
                <key>textureRect</key>
                <string>{{1,116},{54,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hero1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,55}</string>
                <key>spriteSourceSize</key>
                <string>{54,55}</string>
                <key>textureRect</key>
                <string>{{1,173},{54,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hero1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,56}</string>
                <key>spriteSourceSize</key>
                <string>{54,56}</string>
                <key>textureRect</key>
                <string>{{1,1},{54,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hero1stand.png</string>
            <key>size</key>
            <string>{56,229}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c605d8088ad4157b8423f8ffbf7d1589:e30f440029f2b65c247a78388e1e34b0:6a41d4a53de3751b6dedb417561d26f4$</string>
            <key>textureFileName</key>
            <string>hero1stand.png</string>
        </dict>
    </dict>
</plist>
