<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Hero2_stand1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,60}</string>
                <key>spriteSourceSize</key>
                <string>{45,60}</string>
                <key>textureRect</key>
                <string>{{0,0},{45,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hero2stand1.png</string>
            <key>size</key>
            <string>{45,60}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7b7b36ff475af7e82be0b1578c221485:c02c4bc33b5068130bed7ad7816398bc:89ffb5b7f08e63085316dff89fd13e26$</string>
            <key>textureFileName</key>
            <string>hero2stand1.png</string>
        </dict>
    </dict>
</plist>
