<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Hero2_stand2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,60}</string>
                <key>spriteSourceSize</key>
                <string>{45,60}</string>
                <key>textureRect</key>
                <string>{{0,0},{45,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hero2stand2.png</string>
            <key>size</key>
            <string>{45,60}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2b7e0923bb910fa02635b6a310a349bd:6e313ee7ce0ca27ff980af5caac8b420:e92a7e2b3678e2a28d19e602f3b05222$</string>
            <key>textureFileName</key>
            <string>hero2stand2.png</string>
        </dict>
    </dict>
</plist>
